{% extends "base.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block content %}

<div class="container mx-auto px-4 mb-8">
    <div class="flex flex-col-reverse md:flex-row justify-center items-start md:space-x-16">

        {% comment %} Column 1: Shipping and Payment details {% endcomment %}
        <div class="w-full md:w-2/5">
            <form method="post" action="{% url "new_order" %}" class="space-y-8">
                {% csrf_token %}
                
                <h1 class="text-2xl">Checkout</h1>
                <h2 class="text-xl">Enter shipping details</h2>
                <div class="space-y-4">
                    <input type="text" name="name" placeholder="Full name" class="border border-gray-500 w-full p-2">
                    <input type="text" name="address" placeholder="Address" class="border border-gray-500 w-full p-2">
                    <input type="text" name="contact" placeholder="Contact details" class="border border-gray-500 w-full p-2">
                </div>
    
                <h2 class="text-xl">Credit Card Payment</h2>
                <div class="space-y-4">
                    <div class="border border-gray-500 text-gray-500 w-full p-2" readonly>John Doe</div>
                    <div class="border border-gray-500 text-gray-500 w-full p-2" readonly>1234 5678 9012 3456</div>
                    <div class="flex space-x-4">
                        <div class="border border-gray-500 text-gray-500 w-full p-2" readonly>12/25</div>
                        <div class="border border-gray-500 text-gray-500 w-full p-2" readonly>123</div>
                    </div>
                </div>
                
                <input type="hidden" id="items-input" name="items" value='{}'>
                <button class="bg-gray-900 hover:bg-gray-500 text-xl text-white font-bold py-2 px-6 rounded-full w-full my-8" type="submit">Place order</button>
            </form>
        </div>

        {% comment %} Column 2: Summary of order {% endcomment %}
        <div class="w-full space-y-2 mb-8 md:w-auto">    
            <h2 class="text-2xl">Summary</h2>
            <p class="text-xl" id="cart-total"></p>
            <div class="py-4 space-y-8 hidden md:block" id="cart-items-container"></div>
        </div>

    </div>
</div>

<script src="{% static 'checkout.js' %}"></script>

{% endblock %}
