{% extends "base.html" %}
{% load static %}
{% block title %}Power your play{% endblock title %} 

{% block content %}

<div class="flex items-center justify-center">
    <div class="w-full md:w-5/6 lg:w-5/6">
        <video class="w-full" autoplay loop muted>
            <source src="{% static 'shoe-ad.mp4' %}" type="video/mp4">
        </video>
    </div>
</div>

<div class="flex flex-col items-center my-16 space-y-4">
    <h1 class="bebas text-6xl">POWER THE PLAY</h1>
    <h2 class="text-xl">Bring the heat with the all new Force Air 20</h2>
    <a href="{% url "shop" %}" alt="shop" class="text-xl hover:text-gray-800">
        <button class="bg-gray-900 hover:bg-gray-500 text-white font-bold py-2 px-6 rounded-full">
            Shop now
        </button>
    </a>
</div>

<h1 class="text-2xl pl-3 md:pl-8 lg:pl-16 ">Trending This Week</h1>

item 1 item 2 item 3<br>

{% endblock %}
