{% extends "base.html" %}
{% load static %}
{% block title %}Power your play{% endblock title %} 

{% block content %}

<div class="flex items-center justify-center">
    <div class="w-full md:w-5/6 lg:w-5/6">
        <video class="w-full" autoplay loop muted>
            <source src="{% static 'shoe-ad.mp4' %}" type="video/mp4">
        </video>
    </div>
</div>

<div class="flex flex-col items-center my-16 space-y-4">
    <h1 class="bebas text-6xl">POWER THE PLAY</h1>
    <h2 class="text-xl">Bring the heat with the all new Force Air 20</h2>
    <a href="{% url "shop" %}" alt="shop" class="text-xl hover:text-gray-800">
        <button class="bg-gray-900 hover:bg-gray-500 text-white font-bold py-2 px-6 rounded-full">
            Shop now
        </button>
    </a>
</div>

<div class="flex items-center justify-between px-3 md:px-8 lg:px-16">
    <h1 class="text-2xl">Trending This Week</h1>
    <div>
        <span id="prev" class="material-symbols-outlined bg-gray-300 text-white p-4 rounded-full mr-2 hover:bg-gray-400 cursor-pointer">arrow_back_ios</span>
        <span id="next" class="material-symbols-outlined bg-gray-300 text-white p-4 rounded-full hover:bg-gray-400 cursor-pointer">arrow_forward_ios</span>
    </div>
</div>

<div class="container mx-auto py-8">
    <div class="flex overflow-x-auto space-x-4">
        {% for shoe in shoes %}
            <div class="flex-none w-full md:w-1/4 p-4">
                <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}" class="w-full h-auto">
                <div class="mt-2">
                    <h2 class="text-lg font-bold">{{ shoe.name }}</h2>
                    <p class="text-gray-600">{{ shoe.shoe_type }}</p>
                    <p class="text-gray-800">${{ shoe.price_usd }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
