{% extends "base.html" %}
{% load static %}
{% block title %}{{ shoe.name }}{% endblock title %} 

{% block content %}
    <div id="notification" class="fixed top-5 right-5 bg-green-600 text-white p-4 rounded hidden z-10 md:top-5 md:right-5 flex items-center justify-between">
        <span>Shoes are added to cart</span>
        <span id="closeNotifButton" class="material-symbols-outlined ml-4 cursor-pointer">close</span>
    </div>

    <div class="container mx-auto py-8">
        <div class="max-w-4xl mx-auto flex flex-col md:flex-row">
            <div class="w-full md:w-1/2">
                <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}" class="w-full h-auto">
            </div>
            <div class="w-full md:w-1/2 p-4">
                <h1 class="text-2xl md:text-4xl font-bold">{{ shoe.name }}</h1>
                <p class="text-gray-600 md:text-xl">{{ shoe.shoe_type }}</p>
                <p class="text-gray-800 md:text-xl">${{ shoe.price_usd }}</p>
                <button id="addToCartButton" data-shoe-pk="{{ shoe.pk }}" class="mt-4 bg-black text-white py-2 px-4 rounded-lg hover:bg-gray-400">Add to Cart</button>
            </div>
        </div>
    </div>


    <script src="{% static 'shoe-detail.js' %}"></script>

{% endblock %}
